<!-- pages/index.html -->

<!-- main content -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item"><i class="sidebar icon"></i></a>
                <a href="/" 
                    class="item">Rapid Prototypes</a>
                <a href="/" 
                    class="{% if slug == 'index' %}active{% endif %} item">Home</a>
                <a href="{% url 'page' 'pricing' %}" 
                    class="{% if slug == 'pricing' %}active{% endif %} item">Pricing</a>                    
                <a href="{% url 'page' 'contact' %}" 
                    class="{% if slug == 'contact' %}active{% endif %} item">Contact</a>
                <div class="right item">
                    <a href="{% url 'page' 'login' %}" 
                        class="{% if slug == 'login' %}active{% endif %} ui inverted button">Log in</a>
                    <a href="{% url 'page' 'signup' %}" 
                        class="{% if slug == 'signup' %}active{% endif %} ui inverted button">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="ui text container">
            <h1 class="ui inverted header">Prototype. Fast. Deliver.</h1>
            <h2>Insert more content here.</h2>
            <div class="ui huge primary button">Get Started<i class="right arrow icon"></i></div>
        </div>  
    </div>
    <!-- other content -->
    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header">About</h3>
            <p>Collecting and responding to user feedback is 
                what makes agile software development lean. 
                This relationship creates a constant need to 
                release early and develop with users in mind. 
                As a result, user feedback is crucial to understanding 
                how to add value to a product.
            </p>
            <p>User experience (UX) is what entices clients to try your product first.
                And User interface design plays a key part in your UX plans.
                Rapid prototyping helps you make an intelligent guess and
                then keep fine-tuning to meet your clients' needs.                
            </p>
            <a href="#" class="ui large button">Read More</a>
            <h4 class="ui horizontal header divider"><a href="#">Our Works</a></h4>
            <h3 class="ui header">Contact</h3>
            <p>This rapid prototype was produced as a test case.<br/>
                But nevertheless, feel free to take us on.
            </p>
            <p>At the heart of Africa, there lies a place called the 
                <a href='https://www.visituganda.com'>"Pearl of Africa"</a> - 
                a country called <a href='https://en.wikipedia.org/wiki/Uganda'>Uganda</a>.
                And we are located in the capital city - Kampala.
            </p>
            <a href="{% url 'page' 'contact' %}" class="ui large button">Am Interested</a>
        </div>
    </div>
</div>
